<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</html>
<div id="seccion_header">
    <h4>Agregar temas</h4>
</div>

<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="/agregar-tema">Registro de temas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/agregar-actividad">Agregar actividades a temas</a>
    </li>
</ul>
<br>
<div id="div-form">
    <p>Tema</p>
</div>
<select class="form-select">
  <option>Opción 1</option>
  <option>Opción 2</option>
  <option>Opción 3</option>
  <option>Opción 4</option>
</select>

<br>
<br>
<br>
<div id="div-form">
  <p>Nombre de la actividad</p>
</div>
<input id="input-text" type="text" class="form-control" placeholder="Nombre actividad">
<br>
<br>
<br>
<div id="div-form">
  <p>Tipo de la actividad</p>
</div>
<select class="form-select">
  <option value="opcion" selected>Seleccione Opción</option>
  <option>Lectura</option>
  <option>Video</option>
  <option>Juego</option>
  <option>Laboratorio</option>
  <option>QUIZ</option>
</select>
<br>
<br>
<br>
<div id="div-form">
  <p>Valor</p>
</div>
<input id="input-text" type="number" class="form-control" placeholder="Valor">
<br>
<br>
<br>

<button style="font-size: 15px;"><i class="fa-solid fa-plus"></i>   Añadir</button>
<br>
<br>
<div class="table">
  <table class="table table-bordered">
      <tr>
        <th>#</th>
        <th>Actividad</th>
        <th>Descripción</th>
        <th></th>
        <th></th>
        <th>Valor</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><a class="nav-link" href="../act-lectura">Lectura</a></td>
        <td><i class="fa-solid fa-pen-to-square"></i>  </td>
        <td><i class="fa-solid fa-trash"></i></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><a class="nav-link" href="../act-video">Video</a></td>
        <td><i class="fa-solid fa-pen-to-square"></i></td>
        <td><i class="fa-solid fa-trash"></i></td>
        <td></td>
        
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a class="nav-link" href="../act-juego">Juego</a></td>
      <td><i class="fa-solid fa-pen-to-square"></i></td>
      <td><i class="fa-solid fa-trash"></i></td>
      <td></td>
      
  </tr>
  </table>
  <br>
</div>


